*{
  margin: 0;
  padding: 0;
}

.background-image{
  background-image: url('TRASKA\ HOLDING\ IMAGE\ ONLY.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.centered {
  font-family: 'Oxygen'; font-size: 4vh;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  font-family: 'Oxygen'; font-size: 12vh;
  font-weight: bold;
  letter-spacing: 17px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0%;
  right: 4%;
  z-index: 1;
}

.construction {
  font-family: 'Oxygen'; font-size: 2vh;
  font-weight: bold;
  letter-spacing: 7px;
  text-align: center;
  color: white;
  position: absolute;
  top: 13%;
  right: 5%;
  z-index: 2;
}

.reputable {
  font-family: 'Oxygen'; font-size: 2.5vh;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 1.25rem;
  right: 100px;
  left: 100px;
}

.info{
  font-family: 'Oxygen'; font-size: 2.5vh;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 17.5%;
  left: 5vh;
}


/* iPhone SE */
@media only screen and (width: 320px) and (height: 568px) {

  .top-right {
    font-family: 'Oxygen'; font-size: 7vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 3vh;
    left: 1vh;
    z-index: 1;
  }

  .reputable {
    font-family: 'Oxygen'; font-size: 5px;
    scale: 200%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 3rem;
    right: 100px;
    left: 100px;
  }

  .centered {
    font-family: 'Oxygen'; font-size: 1vh;
    font-weight: bold;
    letter-spacing: 1px;
    scale: 300%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 8vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 3%;
    left: 20px;
  }

  .construction {
    font-family: 'Oxygen'; font-size: 9px;
    font-weight: bold;
    letter-spacing: 4px;
    left: 2%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 5%;
    z-index: 2;
  }

  .info{
    font-family: 'Oxygen'; font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 16.5%;
    left: 110px;
  }
  
}

/* iPhone 12 */
@media only screen and (width: 390px) {

  .top-right {
    font-family: 'Oxygen'; font-size: 7vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 1;
  }

  .reputable {
    font-family: 'Oxygen'; font-size: 5px;
    scale: 200%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 110px;
  }

  .centered {
    font-family: 'Oxygen'; font-size: 0.5vh;
    font-weight: bold;
    letter-spacing: 1px;
    scale: 450%;
    text-align: center;
    color: white;
    position: absolute;
    top: 52%;
    left: 83%;
    transform: translate(-50%, -50%);
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 8vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 3%;
    left: 20px;
  }

  .construction {
    font-family: 'Oxygen'; font-size: 9px;
    font-weight: bold;
    letter-spacing: 4px;
    left: 2%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 0.5%;
    z-index: 2;
  }

  .info{
    font-family: 'Oxygen'; font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 16.5%;
    left: 130px;
  }
  
}

/* iPhone XR */
@media only screen and (width: 414px) {

  .top-right {
    font-family: 'Oxygen'; font-size: 7vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 1;
  }

  .reputable {
    font-family: 'Oxygen'; font-size: 5px;
    scale: 200%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 110px;
  }

  .centered {
    font-family: 'Oxygen'; font-size: 0.5vh;
    font-weight: bold;
    letter-spacing: 1px;
    scale: 450%;
    text-align: center;
    color: white;
    position: absolute;
    top: 52%;
    left: 68%;
    transform: translate(-50%, -50%);
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 8vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 3%;
    left: 20px;
  }

  .construction {
    font-family: 'Oxygen'; font-size: 9px;
    font-weight: bold;
    letter-spacing: 4px;
    left: 2%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 0.5%;
    z-index: 2;
  }

  .info{
    font-family: 'Oxygen'; font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 16.5%;
    left: 140px;
  }

  
}

/* iPhone 12 mini */
@media only screen and (max-width: 430px) {
  .background-image{
    scale:110%
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 7vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 1;
  }

  .reputable {
    font-family: 'Oxygen'; font-size: 5px;
    scale: 200%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 110px;
  }

  .centered {
    font-family: 'Oxygen'; font-size: 0.5vh;
    font-weight: bold;
    letter-spacing: 1px;
    scale: 450%;
    text-align: center;
    color: white;
    position: absolute;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 8vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 3%;
    left: 20px;
  }

  .construction {
    font-family: 'Oxygen'; font-size: 9px;
    font-weight: bold;
    letter-spacing: 4px;
    left: 2%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 0.5%;
    z-index: 2;
  }

  .info{
    font-family: 'Oxygen'; font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 16%;
    left: 150px;
  }
  
}

/* iPhone 12 mini */
@media only screen and (width: 360px) and (height: 780px) {

  .top-right {
    font-family: 'Oxygen'; font-size: 7vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: 1;
  }

  .reputable {
    font-family: 'Oxygen'; font-size: 5px;
    scale: 200%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 110px;
  }

  .centered {
    font-family: 'Oxygen'; font-size: 0.5vh;
    font-weight: bold;
    letter-spacing: 1px;
    scale: 450%;
    text-align: center;
    color: white;
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .top-right {
    font-family: 'Oxygen'; font-size: 8vh;
    font-weight: bold;
    letter-spacing: 17px;
    text-align: center;
    color: white;
    position: absolute;
    top: 3%;
    left: 20px;
  }

  .construction {
    font-family: 'Oxygen'; font-size: 9px;
    font-weight: bold;
    letter-spacing: 4px;
    left: 2%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13%;
    right: 0.5%;
    z-index: 2;
  }

  .info{
    font-family: 'Oxygen'; font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 16.5%;
    left: 110px;
  }
  
}

